.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-link {
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.navigation-links-link:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-link1 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-links-link1:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-text {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-links-text:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-link2 {
  cursor: pointer;
  z-index: 100;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-links-link2:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-link3 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-links-link3:hover {
  color: var(--dl-color-scheme-brown);
}








.navigation-links-root-class-name8 {
  margin-right: var(--dl-space-space-fiveunits1);
}

.navigation-links-root-class-name17 {
  margin-right: var(--dl-space-space-fiveunits1);
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
.navigation-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navigation-navlink {
  display: contents;
}
.navigation-image {
  width: 142px;
  height: 38px;
  margin-left: var(--dl-space-space-fiveunits);
  text-decoration: none;
}
.navigation-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-link {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  padding-top: var(--dl-space-space-halfunit);
  border-style: groove;
  margin-right: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #5865f2;
}
.navigation-image1 {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-right: var(--dl-space-space-halfunit);
}
.navigation-text {
  color: #ffffff;
  font-weight: bold;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 0px;
}
.navigation-burger-menu {
  display: none;
}
.navigation-icon {
  fill: var(--dl-color-scheme-darkblue);
  width: 24px;
  height: 24px;
  display: flex;
}
.navigation-nav1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.navigation-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navigation-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-icon2 {
  width: 24px;
  height: 24px;
}
.navigation-root-class-name {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name1 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name2 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name3 {
  top: 0px;
  left: 0px;
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name4 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name5 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name6 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name7 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name8 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name9 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name10 {
  top: 0px;
  left: 0px;
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name11 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name12 {
  top: 0px;
  left: 0px;
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name13 {
  top: 0px;
  left: 0px;
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name14 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name15 {
  top: 0px;
  left: 0px;
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name16 {
  height: var(--dl-size-size-medium);
}
@media(max-width: 1600px) {
  .navigation-header {
    box-shadow: 5px 5px 10px 0px #d4d4d4;
  }
}
@media(max-width: 991px) {
  .navigation-nav {
    display: none;
  }
  .navigation-burger-menu {
    display: flex;
  }
}
@media(max-width: 767px) {
  .navigation-max-width {
    padding: var(--dl-space-space-unit);
  }
}

.guides-guides {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-about {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-text {
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Arial";
  margin-bottom: var(--dl-space-space-unit);
}
.guides-text001 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.guides-about1 {
  padding-top: 0px;
  background-color: #ffffff;
}
.guides-max-width {
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.guides-text003 {
  color: var(--dl-color-scheme-black80);
  align-self: flex-start;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.guides-commands {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-max-width1 {
  padding: var(--dl-space-space-oneandhalfunits);
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-end;
}
.guides-heading-container {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-text004 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: "Arial";
  margin-bottom: var(--dl-space-space-halfunit);
}
.guides-text-container {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: column;
}
.guides-text005 {
  color: var(--dl-color-scheme-black80);
  text-align: left;
  line-height: 26px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
}
.guides-commands1 {
  padding: var(--dl-space-space-oneandhalfunits);
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-end;
}
.guides-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.guides-heading-container1 {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-text006 {
  color: #000000;
  align-self: center;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.guides-heading-container2 {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-text007 {
  color: #000000;
  align-self: center;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.guides-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.guides-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.guides-text-container1 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.guides-text008 {
  font-style: normal;
  font-weight: 500;
}
.guides-text009 {
  font-weight: 700;
}
.guides-text014 {
  font-weight: 700;
}
.guides-text019 {
  font-weight: 700;
}
.guides-text024 {
  font-weight: 700;
}
.guides-text029 {
  font-weight: 700;
}
.guides-text034 {
  font-weight: 700;
}
.guides-text039 {
  font-weight: 700;
}
.guides-text044 {
  font-weight: 700;
}
.guides-text045 {
  font-weight: 700;
}
.guides-text046 {
  font-weight: 700;
}
.guides-text047 {
  font-weight: 700;
}
.guides-text048 {
  font-weight: 700;
}
.guides-text053 {
  font-weight: 700;
}
.guides-text058 {
  font-weight: 700;
}
.guides-text063 {
  color: #0052ff;
  font-weight: 700;
}
.guides-text067 {
  color: #9b00ff;
  font-weight: 700;
}
.guides-text071 {
  color: #e400ff;
  font-weight: 700;
}
.guides-text075 {
  font-weight: 700;
}
.guides-text-container2 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
  flex-direction: column;
}
.guides-text079 {
  font-style: normal;
  font-weight: 500;
}
.guides-text080 {
  font-weight: 700;
}
.guides-text085 {
  font-weight: 700;
}
.guides-text090 {
  font-weight: 700;
}
.guides-text095 {
  font-weight: 700;
}
.guides-text100 {
  font-weight: 700;
}
.guides-text105 {
  font-weight: 700;
}
.guides-text110 {
  font-weight: 700;
}
.guides-text115 {
  font-weight: 700;
}
.guides-text120 {
  font-weight: 700;
}
.guides-text125 {
  font-weight: 700;
}
.guides-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
}
.guides-heading-container3 {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-text130 {
  color: #000000;
  align-self: center;
  padding-bottom: 0px;
}
.guides-heading-container4 {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-text131 {
  color: #000000;
  align-self: center;
  padding-bottom: 0px;
}
.guides-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.guides-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.guides-text-container3 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: column;
}
.guides-text132 {
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-weight: 500;
}
.guides-text133 {
  font-weight: 700;
}
.guides-text138 {
  font-weight: 700;
}
.guides-text139 {
  font-weight: 700;
}
.guides-text140 {
  font-weight: 700;
}
.guides-text145 {
  font-weight: 700;
}
.guides-text150 {
  font-weight: 700;
}
.guides-text151 {
  font-weight: 700;
}
.guides-text152 {
  font-weight: 700;
}
.guides-text-container4 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: column;
}
.guides-text156 {
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
}
.guides-text157 {
  font-weight: 700;
}
.guides-text162 {
  font-weight: 700;
}
.guides-text164 {
  font-weight: 700;
}
.guides-text169 {
  font-weight: 700;
}
.guides-text170 {
  font-weight: 700;
}
.guides-text171 {
  font-weight: 700;
}
.guides-economy-guide {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-max-width2 {
  padding: var(--dl-space-space-oneandhalfunits);
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-end;
}
.guides-heading-container5 {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-text175 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Arial";
  margin-bottom: var(--dl-space-space-unit);
}
.guides-text176 {
  color: var(--dl-color-scheme-black80);
  align-self: flex-start;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.guides-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.guides-slider {
  width: 1000px;
  height: 570px;
  display: inline-block;
}
.guides-slider-slide {
  display: flex;
  background-size: 100%;
  background-image: url('https://prismplex.net/assets/ecoguide/1.png');
}
.guides-slider-slide1 {
  display: flex;
  background-size: 100%;
  background-image: url('https://prismplex.net/assets/ecoguide/2.png');
}
.guides-slider-slide2 {
  display: flex;
  background-size: 100%;
  background-image: url('https://prismplex.net/assets/ecoguide/3.png');
}
.guides-slider-slide3 {
  display: flex ;
  background-size: 100%;
  background-image: url('https://prismplex.net/assets/ecoguide/4.png');
}
.guides-slider-slide4 {
  display: flex ;
  background-size: 100%;
  background-image: url('https://prismplex.net/assets/ecoguide/5.png');
}
.guides-slider-slide5 {
  display: flex ;
  background-size: 100%;
  background-image: url('https://prismplex.net/assets/ecoguide/6.png');
}
.guides-slider-pagination {
  display: block;
}
@media(max-width: 1600px) {
  .guides-text {
    font-family: Arial;
  }
  .guides-text003 {
    color: var(--dl-color-scheme-black80);
    margin-bottom: 0px;
  }
  .guides-max-width1 {
    margin-top: 0px;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .guides-heading-container {
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .guides-text004 {
    font-family: Arial;
  }
  .guides-text-container {
    margin-bottom: var(--dl-space-space-unit);
  }
  .guides-text005 {
    color: var(--dl-color-scheme-black80);
    align-self: flex-start;
    text-align: left;
    line-height: 26px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .guides-commands1 {
    margin-top: 0px;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 0px;
  }
  .guides-container {
    width: 100%;
    margin-bottom: var(--dl-space-space-unit);
  }
  .guides-heading-container1 {
    padding-bottom: 0px;
  }
  .guides-text006 {
    color: rgb(0, 0, 0);
    padding-bottom: 0px;
  }
  .guides-heading-container2 {
    align-items: center;
    flex-direction: row;
    padding-bottom: 0px;
    justify-content: center;
  }
  .guides-text007 {
    color: rgb(0, 0, 0);
    align-self: center;
    padding-bottom: 0px;
  }
  .guides-container1 {
    height: auto;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
    justify-content: flex-start;
  }
  .guides-text-container1 {
    width: 50%;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
    justify-content: space-between;
  }
  .guides-text008 {
    width: auto;
    align-self: flex-start;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    padding-right: 5px;
  }
  .guides-text009 {
    font-weight: 700;
  }
  .guides-text014 {
    font-weight: 700;
  }
  .guides-text019 {
    font-weight: 700;
  }
  .guides-text024 {
    font-weight: 700;
  }
  .guides-text029 {
    font-weight: 700;
  }
  .guides-text034 {
    font-weight: 700;
  }
  .guides-text039 {
    font-weight: 700;
  }
  .guides-text044 {
    font-weight: 700;
  }
  .guides-text045 {
    font-weight: 700;
  }
  .guides-text046 {
    font-weight: 700;
  }
  .guides-text047 {
    font-weight: 700;
  }
  .guides-text048 {
    font-weight: 700;
  }
  .guides-text053 {
    font-weight: 700;
  }
  .guides-text058 {
    font-weight: 700;
  }
  .guides-text075 {
    font-weight: 700;
  }
  .guides-text-container2 {
    width: 50%;
    margin-bottom: var(--dl-space-space-unit);
  }
  .guides-text079 {
    width: auto;
    align-self: flex-start;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    padding-left: 5px;
  }
  .guides-text080 {
    font-weight: bold;
  }
  .guides-text082 {
    font-weight: 500;
  }
  .guides-text083 {
    font-weight: 500;
  }
  .guides-text084 {
    font-weight: 500;
  }
  .guides-text085 {
    font-weight: 700;
  }
  .guides-text086 {
    font-weight: 500;
  }
  .guides-text087 {
    font-weight: 500;
  }
  .guides-text088 {
    font-weight: 500;
  }
  .guides-text089 {
    font-weight: 500;
  }
  .guides-text090 {
    font-weight: 700;
  }
  .guides-text093 {
    font-weight: 500;
  }
  .guides-text094 {
    font-weight: 500;
  }
  .guides-text095 {
    font-weight: 700;
  }
  .guides-text096 {
    font-weight: 500;
  }
  .guides-text097 {
    font-weight: 500;
  }
  .guides-text098 {
    font-weight: 500;
  }
  .guides-text099 {
    font-weight: 500;
  }
  .guides-text100 {
    font-weight: 700;
  }
  .guides-text101 {
    font-weight: 500;
  }
  .guides-text102 {
    font-weight: 500;
  }
  .guides-text103 {
    font-weight: 500;
  }
  .guides-text104 {
    font-weight: 500;
  }
  .guides-text105 {
    font-weight: 700;
  }
  .guides-text106 {
    font-weight: 500;
  }
  .guides-text107 {
    font-weight: 500;
  }
  .guides-text108 {
    font-weight: 500;
  }
  .guides-text109 {
    font-weight: 500;
  }
  .guides-text110 {
    font-weight: 700;
  }
  .guides-text111 {
    font-weight: 500;
  }
  .guides-text112 {
    font-weight: 500;
  }
  .guides-text113 {
    font-weight: 500;
  }
  .guides-text114 {
    font-weight: 500;
  }
  .guides-text115 {
    font-weight: 700;
  }
  .guides-text116 {
    font-weight: 500;
  }
  .guides-text117 {
    font-weight: 500;
  }
  .guides-text118 {
    font-weight: 500;
  }
  .guides-text119 {
    font-weight: 500;
  }
  .guides-text120 {
    font-weight: 700;
  }
  .guides-text121 {
    font-weight: 500;
  }
  .guides-text122 {
    font-weight: 500;
  }
  .guides-text123 {
    font-weight: 500;
  }
  .guides-text124 {
    font-weight: 500;
  }
  .guides-text125 {
    font-weight: 500;
  }
  .guides-text126 {
    font-weight: 500;
  }
  .guides-text127 {
    font-weight: 500;
  }
  .guides-text128 {
    font-weight: 500;
  }
  .guides-text129 {
    font-weight: 500;
  }
  .guides-container3 {
    width: 100%;
    margin-bottom: var(--dl-space-space-unit);
  }
  .guides-heading-container3 {
    padding-bottom: 0px;
  }
  .guides-text130 {
    color: rgb(0, 0, 0);
    padding-bottom: 0px;
  }
  .guides-heading-container4 {
    align-items: center;
    flex-direction: row;
    padding-bottom: 0px;
    justify-content: center;
  }
  .guides-text131 {
    color: rgb(0, 0, 0);
    align-self: center;
    padding-bottom: 0px;
  }
  .guides-container4 {
    height: auto;
    align-items: flex-start;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .guides-text-container3 {
    width: 50%;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
    justify-content: space-between;
  }
  .guides-text132 {
    width: auto;
    align-self: flex-start;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    padding-right: 5px;
  }
  .guides-text133 {
    font-weight: 700;
  }
  .guides-text136 {
    font-weight: 700;
  }
  .guides-text137 {
    font-weight: 700;
  }
  .guides-text138 {
    font-weight: 700;
  }
  .guides-text139 {
    font-weight: 700;
  }
  .guides-text140 {
    font-weight: 700;
  }
  .guides-text145 {
    font-weight: 700;
  }
  .guides-text-container4 {
    width: 50%;
    margin-bottom: var(--dl-space-space-unit);
  }
  .guides-text156 {
    width: auto;
    align-self: flex-start;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    padding-left: 5px;
  }
  .guides-text157 {
    font-weight: bold;
  }
  .guides-text159 {
    font-weight: 500;
  }
  .guides-text160 {
    font-weight: 500;
  }
  .guides-text161 {
    font-weight: 500;
  }
  .guides-text162 {
    font-weight: 700;
  }
  .guides-text163 {
    font-weight: 500;
  }
  .guides-text164 {
    font-weight: 500;
  }
  .guides-text165 {
    font-weight: 500;
  }
  .guides-text166 {
    font-weight: 500;
  }
  .guides-text167 {
    font-weight: 500;
  }
  .guides-text168 {
    font-weight: 500;
  }
  .guides-text169 {
    font-weight: 700;
  }
  .guides-text170 {
    font-weight: 500;
  }
  .guides-text171 {
    font-weight: 700;
  }
  .guides-text172 {
    font-weight: 500;
  }
  .guides-text173 {
    font-weight: 500;
  }
  .guides-text174 {
    font-weight: 500;
  }
  .guides-max-width2 {
    margin-top: 0px;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .guides-heading-container5 {
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .guides-text175 {
    font-family: Arial;
  }
  .guides-text176 {
    color: var(--dl-color-scheme-black80);
    line-height: 26px;
  }
  .guides-slider {
    width: 938px;
    height: 568px;
  }
}
@media(max-width: 1200px) {
  .guides-text {
    font-family: Arial;
  }
  .guides-text001 {
    font-family: Arial;
  }
  .guides-text003 {
    color: var(--dl-color-scheme-black80);
    line-height: 26px;
  }
  .guides-text004 {
    margin-top: var(--dl-space-space-twounits);
    font-family: Arial;
  }
  .guides-text005 {
    color: var(--dl-color-scheme-black80);
  }
  .guides-text006 {
    color: #000000;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .guides-text007 {
    color: #000000;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .guides-text130 {
    color: #000000;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .guides-text131 {
    color: #000000;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .guides-text175 {
    font-family: Arial;
  }
  .guides-text176 {
    color: var(--dl-color-scheme-black80);
    line-height: 26px;
  }
  .guides-slider {
    width: 754px;
    height: 456px;
  }
}
@media(max-width: 991px) {
  .guides-about {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .guides-max-width {
    flex-direction: column;
  }
  .guides-max-width1 {
    flex-direction: column;
  }
  .guides-heading-container {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .guides-commands1 {
    flex-direction: column;
  }
  .guides-heading-container1 {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .guides-heading-container2 {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .guides-heading-container3 {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .guides-heading-container4 {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .guides-max-width2 {
    flex-direction: column;
  }
  .guides-heading-container5 {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .guides-slider {
    width: 601px;
    height: 363px;
  }
}
@media(max-width: 767px) {
  .guides-text {
    font-size: 48px;
  }
  .guides-text001 {
    font-size: 48px;
  }
  .guides-text004 {
    font-size: 48px;
  }
  .guides-text175 {
    font-size: 48px;
  }
  .guides-slider {
    width: 447px;
    height: 269px;
  }
}
@media(max-width: 479px) {
  .guides-slider {
    width: 252px;
    height: 151px;
  }
}

.footerbar-container {
  width: 100%;
  bottom: 0;
  height: auto;
  display: flex;
  z-index: 100;
  position: relative;
  align-self: center;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-scheme-darkgray);
}
.footerbar-max-width {
  width: 100%;
  height: 112px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.footerbar-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  justify-content: center;
}
.footerbar-link {
  display: contents;
}
.footerbar-image {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footerbar-link1 {
  display: contents;
}
.footerbar-image1 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footerbar-link2 {
  display: contents;
}
.footerbar-icon {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.footerbar-email {
  display: flex;
  padding-left: var(--dl-space-space-twounits);
  justify-content: center;
}
.footerbar-link3 {
  display: contents;
}
.footerbar-container1 {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.footerbar-icon2 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-halfunit);
}
.footerbar-text {
  font-size: 14px;
  align-self: center;
  line-height: 1;
  padding-left: 0px;
}
















@media(max-width: 1600px) {
  .footerbar-social-bar {
    flex-wrap: wrap;
  }
  .footerbar-text {
    z-index: 100;
    font-size: 15px;
    align-self: center;
    text-align: left;
    font-family: Arial;
    margin-left: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .footerbar-max-width {
    padding: var(--dl-space-space-unit);
  }
  .footerbar-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .footerbar-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}

.azure-container {
  width: 100%;
  display: flex;
  overflow: inherit;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.azure-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.azure-image {
  width: 200px;
  margin-top: 100px;
  object-fit: cover;
  padding-top: var(--dl-space-space-oneandhalfunits);
}
.azure-max-width {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-end;
}
.azure-heading-container {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.azure-text {
  align-self: flex-start;
  text-align: center;
  font-family: "Arial";
  margin-bottom: var(--dl-space-space-halfunit);
}
.azure-text-container {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: column;
}
.azure-text001 {
  color: var(--dl-color-scheme-black80);
  text-align: left;
  line-height: 26px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
}
.azure-about {
  width: 100%;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: 0px;
  background-color: #e5fcff;
}
.azure-max-width1 {
  flex-direction: row;
  justify-content: space-between;
}
.azure-text-container1 {
  flex: 1;
  width: 40%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.azure-text013 {
  text-align: center;
  font-family: "Arial";
  padding-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.azure-text014 {
  color: var(--dl-color-scheme-black80);
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.azure-image01 {
  flex: 1;
  width: 404px;
  height: 265px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.azure-link {
  color: #ffffff;
  width: 355px;
  height: 83px;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: #2578ff;
}
.azure-icon {
  fill: #ffffff;
  width: 44px;
  height: 44px;
  margin-left: var(--dl-space-space-unit);
}
.azure-max-width2 {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-end;
}
.azure-heading-container1 {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.azure-text020 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Arial";
  margin-bottom: var(--dl-space-space-unit);
}
.azure-about1 {
  padding-top: 0px;
  background-color: #ffffff;
}
.azure-max-width3 {
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.azure-text021 {
  color: var(--dl-color-scheme-black80);
  align-self: flex-start;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.azure-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.azure-container02 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.azure-image02 {
  width: 200px;
  object-fit: cover;
}
.azure-container03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.azure-text028 {
  font-weight: 600;
  margin-bottom: 0px;
}
.azure-text031 {
  margin-bottom: var(--dl-space-space-unit);
}
.azure-text032 {
  font-family: "Arial";
}
.azure-text036 {
  color: #007fff;
  text-decoration: underline;
}
.azure-text048 {
  font-style: italic;
}
.azure-feature-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.azure-container04 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.azure-image03 {
  width: 200px;
  object-fit: cover;
}
.azure-container05 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.azure-text049 {
  font-weight: 600;
  margin-bottom: 0px;
}
.azure-text052 {
  margin-bottom: var(--dl-space-space-unit);
}
.azure-text053 {
  font-family: "Arial";
}
.azure-feature-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.azure-container06 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.azure-image04 {
  width: 200px;
  object-fit: cover;
}
.azure-container07 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.azure-text063 {
  font-weight: 600;
  margin-bottom: 0px;
}
.azure-text066 {
  margin-bottom: var(--dl-space-space-unit);
}
.azure-text067 {
  font-family: "Arial";
}
.azure-text069 {
  font-family: "Arial";
}
.azure-text075 {
  font-family: "Arial";
}
.azure-text078 {
  font-family: "Arial";
}
.azure-link1 {
  text-decoration: underline;
}
.azure-text084 {
  font-family: "Arial";
}
.azure-link2 {
  text-decoration: underline;
}
.azure-text090 {
  font-family: "Arial";
}
.azure-feature-card3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.azure-container08 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.azure-image05 {
  width: 200px;
  object-fit: cover;
}
.azure-container09 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.azure-text094 {
  font-weight: 600;
  margin-bottom: 0px;
}
.azure-text097 {
  margin-bottom: var(--dl-space-space-unit);
}
.azure-text098 {
  font-family: "Arial";
}
.azure-text099 {
  color: var(--dl-color-scheme-darkblue);
}
.azure-text100 {
  font-family: "Arial";
}
.azure-text101 {
  color: var(--dl-color-scheme-darkblue);
}
.azure-text102 {
  color: var(--dl-color-scheme-darkblue);
}
.azure-text106 {
  color: var(--dl-color-scheme-darkblue);
}
.azure-text107 {
  font-family: "Arial";
}
.azure-text108 {
  color: var(--dl-color-scheme-darkblue);
}
.azure-text109 {
  color: var(--dl-color-scheme-darkblue);
}
.azure-text113 {
  color: var(--dl-color-scheme-darkblue);
}
.azure-feature-card4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.azure-container10 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.azure-image06 {
  width: 200px;
  object-fit: cover;
}
.azure-container11 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.azure-text115 {
  font-weight: 600;
  margin-bottom: 0px;
}
.azure-text118 {
  margin-bottom: var(--dl-space-space-unit);
}
.azure-text119 {
  font-family: "Arial";
}
.azure-feature-card5 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.azure-container12 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.azure-image07 {
  width: 200px;
  object-fit: cover;
}
.azure-container13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.azure-text145 {
  font-weight: 600;
  margin-bottom: 0px;
}
.azure-text148 {
  margin-bottom: var(--dl-space-space-unit);
}
.azure-text149 {
  font-family: "Arial";
}
.azure-feature-card6 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.azure-container14 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.azure-image08 {
  width: 200px;
  object-fit: cover;
}
.azure-container15 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.azure-text157 {
  font-weight: 600;
  margin-bottom: 0px;
}
.azure-text160 {
  margin-bottom: var(--dl-space-space-unit);
}
.azure-text161 {
  font-family: "Arial";
}
.azure-feature-card7 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.azure-container16 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.azure-image09 {
  width: 200px;
  object-fit: cover;
}
.azure-container17 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.azure-text173 {
  font-weight: 600;
  margin-bottom: 0px;
}
.azure-text176 {
  margin-bottom: var(--dl-space-space-unit);
}
.azure-text177 {
  font-family: "Arial";
}
.azure-text182 {
  font-family: "Arial";
}
@media(max-width: 1600px) {
  .azure-image {
    padding-top: var(--dl-space-space-threeunits);
  }
  .azure-max-width {
    padding-top: 0px;
  }
  .azure-heading-container {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .azure-text {
    font-family: Arial;
  }
  .azure-text-container {
    margin-bottom: var(--dl-space-space-unit);
  }
  .azure-text001 {
    color: var(--dl-color-scheme-black80);
    align-self: flex-start;
    text-align: left;
    line-height: 26px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .azure-text013 {
    font-family: Arial;
  }
  .azure-text014 {
    color: var(--dl-color-scheme-black80);
    line-height: 26px;
  }
  .azure-image01 {
    border-color: var(--dl-color-scheme-darkblue);
    border-style: outset;
    border-width: 5px;
  }
  .azure-link {
    color: #ffffff;
    width: 387px;
    height: 96px;
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    border-style: ridge;
    border-width: 0px;
    background-color: #015aff;
  }
  .azure-icon {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    margin-left: var(--dl-space-space-unit);
    padding-left: 0px;
  }
  .azure-max-width2 {
    padding-top: 0px;
  }
  .azure-text020 {
    font-family: Arial;
  }
  .azure-text021 {
    color: var(--dl-color-scheme-black80);
    line-height: 26px;
  }
  .azure-text032 {
    font-family: Arial;
  }
  .azure-text039 {
    font-family: Arial;
  }
  .azure-text040 {
    font-family: Arial;
  }
  .azure-text042 {
    font-family: Arial;
  }
  .azure-text043 {
    font-family: Arial;
  }
  .azure-text048 {
    font-style: italic;
  }
  .azure-text119 {
    font-family: Arial;
  }
  .azure-text126 {
    font-family: Arial;
  }
  .azure-text129 {
    font-family: Arial;
  }
  .azure-text132 {
    font-family: Arial;
  }
  .azure-text135 {
    font-family: Arial;
  }
  .azure-text138 {
    font-family: Arial;
  }
  .azure-text143 {
    font-style: italic;
  }
  .azure-text149 {
    font-family: Arial;
  }
  .azure-text151 {
    font-family: Arial;
  }
  .azure-text154 {
    font-family: Arial;
  }
  .azure-text161 {
    font-family: Arial;
  }
  .azure-text163 {
    font-family: Arial;
  }
  .azure-text166 {
    font-family: Arial;
  }
  .azure-text169 {
    font-family: Arial;
  }
}
@media(max-width: 1200px) {
  .azure-text {
    font-family: Arial;
  }
  .azure-text013 {
    font-family: Arial;
  }
  .azure-max-width2 {
    padding: var(--dl-space-space-unit);
  }
  .azure-text020 {
    font-family: Arial;
  }
  .azure-text021 {
    color: var(--dl-color-scheme-black80);
    line-height: 26px;
  }
}
@media(max-width: 991px) {
  .azure-max-width {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .azure-heading-container {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .azure-max-width1 {
    flex-direction: column;
  }
  .azure-text-container1 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .azure-image-container {
    width: 100%;
  }
  .azure-image01 {
    width: 100%;
  }
  .azure-max-width2 {
    flex-direction: column;
  }
  .azure-heading-container1 {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .azure-max-width3 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .azure-text {
    font-size: 48px;
  }
  .azure-text013 {
    font-size: 48px;
  }
  .azure-max-width2 {
    width: 100%;
  }
  .azure-text020 {
    font-size: 48px;
  }
  .azure-feature-card {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .azure-container02 {
    flex-direction: column;
  }
  .azure-container03 {
    flex-direction: column;
  }
  .azure-feature-card1 {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .azure-container04 {
    flex-direction: column;
  }
  .azure-container05 {
    flex-direction: column;
  }
  .azure-feature-card2 {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .azure-container06 {
    flex-direction: column;
  }
  .azure-container07 {
    flex-direction: column;
  }
  .azure-feature-card3 {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .azure-container08 {
    flex-direction: column;
  }
  .azure-container09 {
    flex-direction: column;
  }
  .azure-feature-card4 {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .azure-container10 {
    flex-direction: column;
  }
  .azure-container11 {
    flex-direction: column;
  }
  .azure-feature-card5 {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .azure-container12 {
    flex-direction: column;
  }
  .azure-container13 {
    flex-direction: column;
  }
  .azure-feature-card6 {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .azure-container14 {
    flex-direction: column;
  }
  .azure-container15 {
    flex-direction: column;
  }
  .azure-feature-card7 {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .azure-container16 {
    flex-direction: column;
  }
  .azure-container17 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .azure-container02 {
    flex-direction: column;
  }
  .azure-container03 {
    flex-direction: column;
  }
  .azure-container04 {
    flex-direction: column;
  }
  .azure-container05 {
    flex-direction: column;
  }
  .azure-container06 {
    flex-direction: column;
  }
  .azure-container07 {
    flex-direction: column;
  }
  .azure-container08 {
    flex-direction: column;
  }
  .azure-container09 {
    flex-direction: column;
  }
  .azure-container10 {
    flex-direction: column;
  }
  .azure-container11 {
    flex-direction: column;
  }
  .azure-container12 {
    flex-direction: column;
  }
  .azure-container13 {
    flex-direction: column;
  }
  .azure-container14 {
    flex-direction: column;
  }
  .azure-container15 {
    flex-direction: column;
  }
  .azure-container16 {
    flex-direction: column;
  }
  .azure-container17 {
    flex-direction: column;
  }
}
