.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-link {
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.navigation-links-link:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-link1 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-links-link1:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-text {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-links-text:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-link2 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-links-link2:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-link3 {
  cursor: pointer;
  z-index: 100;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-links-link3:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-link4 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-links-link4:hover {
  color: var(--dl-color-scheme-brown);
}








.navigation-links-root-class-name8 {
  margin-right: var(--dl-space-space-fiveunits1);
}

.navigation-links-root-class-name17 {
  margin-right: var(--dl-space-space-fiveunits1);
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
.navigation-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navigation-navlink {
  display: contents;
}
.navigation-image {
  width: 142px;
  height: 38px;
  margin-left: var(--dl-space-space-fiveunits);
  text-decoration: none;
}
.navigation-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-link {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  padding-top: var(--dl-space-space-halfunit);
  border-style: groove;
  margin-right: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #5865f2;
}
.navigation-image1 {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-right: var(--dl-space-space-halfunit);
}
.navigation-text {
  color: #ffffff;
  font-weight: bold;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 0px;
}
.navigation-burger-menu {
  display: none;
}
.navigation-icon {
  fill: var(--dl-color-scheme-darkblue);
  width: 24px;
  height: 24px;
  display: flex;
}
.navigation-nav1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.navigation-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navigation-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-icon2 {
  width: 24px;
  height: 24px;
}
.navigation-root-class-name {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name1 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name2 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name3 {
  top: 0px;
  left: 0px;
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name4 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name5 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name6 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name7 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name8 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name9 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name10 {
  top: 0px;
  left: 0px;
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name11 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name12 {
  top: 0px;
  left: 0px;
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name13 {
  top: 0px;
  left: 0px;
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name14 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name15 {
  top: 0px;
  left: 0px;
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name16 {
  height: var(--dl-size-size-medium);
}
@media(max-width: 1600px) {
  .navigation-header {
    box-shadow: 5px 5px 10px 0px #d4d4d4;
  }
}
@media(max-width: 991px) {
  .navigation-nav {
    display: none;
  }
  .navigation-burger-menu {
    display: flex;
  }
}
@media(max-width: 767px) {
  .navigation-max-width {
    padding: var(--dl-space-space-unit);
  }
}

.blog-card-blog-card {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 300px;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
}
.blog-card-blog-card:hover {
  padding: 10px;
  border-color: var(--dl-color-scheme-darkgray);
  border-width: 4px;
  border-radius: 10%;
}
.blog-card-image {
  width: 100%;
  padding: var(--dl-space-space-unit);
  background: white;
  margin-top: var(--dl-space-space-halfunit);
  object-fit: cover;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
}
.blog-card-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-unit);
}
.blog-card-text1 {
  text-decoration: underline;
}









.blog-card-root-class-name9 {
  margin: var(--dl-space-space-unit);
}
.blog-card-root-class-name10 {
  margin: var(--dl-space-space-unit);
}
.blog-card-root-class-name11 {
  margin: var(--dl-space-space-unit);
}
@media(max-width: 1600px) {
  .blog-card-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
  }
}
@media(max-width: 991px) {
  .blog-card-blog-card {
    max-width: 550px;
  }
}
@media(max-width: 767px) {
  .blog-card-blog-card {
    max-width: 450px;
  }
  .blog-card-root-class-name2 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .blog-card-root-class-name3 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .blog-card-root-class-name4 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .blog-card-root-class-name5 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .blog-card-root-class-name6 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .blog-card-root-class-name7 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .blog-card-blog-card {
    max-width: 350px;
  }
}

.footerbar-container {
  width: 100%;
  bottom: 0;
  height: auto;
  display: flex;
  z-index: 100;
  position: relative;
  align-self: center;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-scheme-darkgray);
}
.footerbar-max-width {
  width: 100%;
  height: 112px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.footerbar-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  justify-content: center;
}
.footerbar-link {
  display: contents;
}
.footerbar-image {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footerbar-link1 {
  display: contents;
}
.footerbar-image1 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footerbar-link2 {
  display: contents;
}
.footerbar-icon {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.footerbar-email {
  display: flex;
  padding-left: var(--dl-space-space-twounits);
  justify-content: center;
}
.footerbar-link3 {
  display: contents;
}
.footerbar-container1 {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.footerbar-icon2 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-halfunit);
}
.footerbar-text {
  font-size: 14px;
  align-self: center;
  line-height: 1;
  padding-left: 0px;
}
















@media(max-width: 1600px) {
  .footerbar-social-bar {
    flex-wrap: wrap;
  }
  .footerbar-text {
    z-index: 100;
    font-size: 15px;
    align-self: center;
    text-align: left;
    font-family: Arial;
    margin-left: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .footerbar-max-width {
    padding: var(--dl-space-space-unit);
  }
  .footerbar-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .footerbar-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}

.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-town-hall {
  width: 100%;
  height: 625px;
  display: flex;
  margin-top: 96px;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: row;
  backdrop-filter: blur(5px);
  background-size: cover;
  justify-content: flex-start;
  background-image: url('https://cdn.discordapp.com/attachments/1161968252361121792/1190029003386523811/Azure_SMP_-_Peaceful_Vanilla_Server_-_Imgur_3.png?ex=65a04fe0&is=658ddae0&hm=240a4019772123de1e7c53de9513eded014cd237d6c7ebf593121d853306931f&');
  background-repeat: no-repeat;
  background-position: center;
}
.home-hero-text {
  width: auto;
  display: flex;
  align-self: center;
  padding-top: var(--dl-space-space-fiveunits);
  text-shadow: #000000 1px 0 10px;
  padding-left: 410px;
  padding-right: 410px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-heading {
  color: rgb(255, 255, 255);
  z-index: 100;
  font-size: 52px;
  text-align: center;
  font-weight: 700;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-fiveunits1);
  text-transform: none;
}
.home-text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
  margin-bottom: 0px;
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-hero {
  position: relative;
  padding-top: 0px;
}
.home-max-width {
  margin-top: var(--dl-space-space-threeunits);
}
.home-heading-container {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text005 {
  align-self: flex-start;
  text-align: center;
  font-family: "Arial";
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.home-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
}
.home-text006 {
  color: var(--dl-color-scheme-black);
  font-size: 18px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  line-height: 1.44;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  justify-content: flex-end;
}
.home-text013 {
  color: var(--dl-color-scheme-black);
  font-size: 18px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  line-height: 1.44;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.home-text020 {
  color: var(--dl-color-scheme-black80);
  text-align: center;
  line-height: 26px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text023 {
  align-self: flex-start;
  text-align: center;
  font-family: "Arial";
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-about {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.home-max-width1 {
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.home-text024 {
  color: var(--dl-color-scheme-black80);
  align-self: flex-start;
  line-height: 26px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 0px;
}
.home-text031 {
  font-weight: 700;
}
.home-text034 {
  font-weight: 700;
}
.home-text037 {
  font-weight: 700;
}
.home-text040 {
  font-weight: 700;
}
.home-text044 {
  font-weight: 700;
}
.home-text047 {
  font-weight: 700;
}
.home-text050 {
  font-weight: 700;
}
.home-text057 {
  font-weight: 700;
}
.home-text060 {
  font-weight: 700;
}
.home-text063 {
  font-weight: 700;
}
.home-text067 {
  font-weight: 700;
}
.home-text070 {
  font-weight: 700;
}
.home-text073 {
  font-weight: 700;
}
.home-container04 {
  text-decoration: none;
}
.home-container06 {
  display: contents;
}
.home-resources {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: #f2f2f2;
}
.home-text076 {
  font-size: 3rem;
  margin-bottom: 0px;
}
.home-text079 {
  color: var(--dl-color-gray-700);
  width: 70%;
  font-size: 1.15rem;
  text-align: center;
  padding-bottom: 0px;
}
.home-container07 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-link1 {
  display: contents;
}
.home-component1 {
  text-decoration: none;
}
.home-link2 {
  display: contents;
}
.home-component2 {
  text-decoration: none;
}
.home-link3 {
  display: contents;
}
.home-component3 {
  text-decoration: none;
}
.home-about1 {
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: 0px;
  background-color: #e5fcff;
}
.home-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.home-text082 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text085 {
  color: var(--dl-color-gray-700);
  width: 70%;
  font-size: 1.15rem;
  text-align: center;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-resources1 {
  padding: var(--dl-space-space-oneandhalfunits);
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-end;
}
.home-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-heading-container1 {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-button {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  flex-direction: row;
}
.home-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 1rem;
}
.home-text086 {
  font-size: 40px;
  align-self: center;
}
.home-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.home-button1 {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  flex-direction: row;
}
.home-image1 {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 1rem;
}
.home-text087 {
  font-size: 40px;
  align-self: center;
}
.home-heading-container2 {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-button2 {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  flex-direction: row;
}
.home-image2 {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 1rem;
}
.home-text088 {
  font-size: 40px;
  align-self: center;
}
.home-max-width2 {
  margin-top: var(--dl-space-space-threeunits);
}
.home-heading-container3 {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text089 {
  align-self: flex-start;
  text-align: center;
  font-family: "Arial";
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.home-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
}
.home-text090 {
  color: var(--dl-color-scheme-black);
  font-size: 18px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  line-height: 1.44;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  justify-content: flex-end;
}
.home-text097 {
  color: var(--dl-color-scheme-black);
  font-size: 18px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  line-height: 1.44;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text-container1 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.home-text104 {
  color: var(--dl-color-scheme-black80);
  text-align: center;
  line-height: 26px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-stats {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  margin-top: var(--dl-space-space-tripleunit);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-stat {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text107 {
  color: #4c84ff;
  font-size: 3rem;
}
.home-text110 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-stat1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text113 {
  color: #4c84ff;
  font-size: 3rem;
}
.home-text114 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-stat2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text115 {
  color: #4c84ff;
  font-size: 3rem;
}
.home-text118 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
@media(max-width: 1600px) {
  .home-town-hall {
    width: 100%;
    background-image: url('https://cdn.discordapp.com/attachments/1161968252361121792/1190029003386523811/Azure_SMP_-_Peaceful_Vanilla_Server_-_Imgur_3.png?ex=65a04fe0&is=658ddae0&hm=240a4019772123de1e7c53de9513eded014cd237d6c7ebf593121d853306931f&');
  }
  .home-hero-text {
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .home-text {
    color: rgb(255, 255, 255);
  }
  .home-text006 {
    line-height: 1.8;
  }
  .home-text013 {
    line-height: 1.8;
  }
  .home-resources1 {
    margin-top: 0px;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 0px;
  }
  .home-container08 {
    width: 100%;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-heading-container1 {
    padding-bottom: 0px;
  }
  .home-heading-container2 {
    align-items: center;
    flex-direction: row;
    padding-bottom: 0px;
    justify-content: center;
  }
  .home-text090 {
    line-height: 1.8;
  }
  .home-text097 {
    line-height: 1.8;
  }
}
@media(max-width: 1200px) {
  .home-town-hall {
    height: 723px;
    margin-top: var(--dl-space-space-fiveunits);
  }
  .home-heading {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 700;
    line-height: 1.22;
    text-transform: none;
  }
  .home-hero {
    padding: 69px;
    padding-top: 0px;
  }
  .home-text005 {
    font-family: Arial;
  }
  .home-text023 {
    font-family: Arial;
  }
  .home-text024 {
    color: var(--dl-color-scheme-black80);
    line-height: 26px;
  }
  .home-about1 {
    padding-left: var(--dl-space-space-tenunits);
    padding-right: var(--dl-space-space-tenunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-text089 {
    font-family: Arial;
  }
}
@media(max-width: 991px) {
  .home-town-hall {
    flex-direction: column-reverse;
  }
  .home-hero-text {
    width: 80%;
  }
  .home-text {
    color: rgb(255, 255, 255);
    font-size: 18px;
  }
  .home-heading-container {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .home-max-width1 {
    flex-direction: column;
  }
  .home-image-container {
    width: 100%;
  }
  .home-text076 {
    text-align: center;
  }
  .home-text079 {
    text-align: center;
  }
  .home-text082 {
    text-align: center;
  }
  .home-text085 {
    text-align: center;
  }
  .home-resources1 {
    flex-direction: column;
  }
  .home-heading-container1 {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .home-heading-container2 {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .home-heading-container3 {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .home-text107 {
    text-align: center;
  }
  .home-text113 {
    text-align: center;
  }
  .home-text115 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-text005 {
    font-size: 48px;
  }
  .home-text023 {
    font-size: 48px;
  }
  .home-text076 {
    text-align: center;
  }
  .home-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text082 {
    text-align: center;
  }
  .home-text089 {
    font-size: 48px;
  }
  .home-stats {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr;
  }
  .home-text110 {
    text-align: center;
  }
  .home-text114 {
    text-align: center;
  }
  .home-text118 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .home-town-hall {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-hero-text {
    width: 100%;
  }
  .home-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-stats {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
}
