.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-link {
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.navigation-links-link:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-link1 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-links-link1:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-text {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-links-text:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-navlink {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-links-navlink:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-link2 {
  cursor: pointer;
  z-index: 100;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-links-link2:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-link3 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-links-link3:hover {
  color: var(--dl-color-scheme-brown);
}








.navigation-links-root-class-name8 {
  margin-right: var(--dl-space-space-fiveunits1);
}

.navigation-links-root-class-name17 {
  margin-right: var(--dl-space-space-fiveunits1);
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
.navigation-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navigation-navlink {
  display: contents;
}
.navigation-image {
  width: 142px;
  height: 38px;
  margin-left: var(--dl-space-space-fiveunits);
  text-decoration: none;
}
.navigation-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-link {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  padding-top: var(--dl-space-space-halfunit);
  border-style: groove;
  margin-right: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #5865f2;
}
.navigation-image1 {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-right: var(--dl-space-space-halfunit);
}
.navigation-text {
  color: #ffffff;
  font-weight: bold;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 0px;
}
.navigation-burger-menu {
  display: none;
}
.navigation-icon {
  fill: var(--dl-color-scheme-darkblue);
  width: 24px;
  height: 24px;
  display: flex;
}
.navigation-nav1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.navigation-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navigation-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-icon2 {
  width: 24px;
  height: 24px;
}
.navigation-root-class-name {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name1 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name2 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name3 {
  top: 0px;
  left: 0px;
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name4 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name5 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name6 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name7 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name8 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name9 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name10 {
  top: 0px;
  left: 0px;
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name11 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name12 {
  top: 0px;
  left: 0px;
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name13 {
  top: 0px;
  left: 0px;
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name14 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name15 {
  top: 0px;
  left: 0px;
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name16 {
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name17 {
  top: 0px;
  left: 0px;
  height: var(--dl-size-size-medium);
}
.navigation-root-class-name18 {
  top: 0px;
  left: 0px;
  height: var(--dl-size-size-medium);
}
@media(max-width: 1600px) {
  .navigation-header {
    box-shadow: 5px 5px 10px 0px #d4d4d4;
  }
}
@media(max-width: 991px) {
  .navigation-nav {
    display: none;
  }
  .navigation-burger-menu {
    display: flex;
  }
}
@media(max-width: 767px) {
  .navigation-max-width {
    padding: var(--dl-space-space-unit);
  }
}

.footerbar-container {
  width: 100%;
  bottom: 0;
  height: auto;
  display: flex;
  z-index: 100;
  position: relative;
  align-self: center;
  align-items: center;
  justify-content: center;
  background-color: #dfdfdf;
}
.footerbar-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.footerbar-container1 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.footerbar-navlink {
  display: contents;
}
.footerbar-image {
  width: 132px;
  height: 35px;
  margin-bottom: 0px;
  text-decoration: none;
}
.footerbar-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footerbar-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footerbar-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.footerbar-icon {
  width: 35px;
  height: 35px;
  margin-right: var(--dl-space-space-halfunit);
}
.footerbar-text {
  font-size: 18px;
  align-self: center;
}
.footerbar-icon-group {
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footerbar-link {
  display: contents;
}
.footerbar-icon2 {
  width: 35px;
  height: 35px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footerbar-link1 {
  display: contents;
}
.footerbar-image1 {
  width: 35px;
  height: 35px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footerbar-link2 {
  display: contents;
}
.footerbar-image2 {
  width: 35px;
  height: 35px;
  margin-right: 0px;
  text-decoration: none;
}


















@media(max-width: 767px) {
  .footerbar-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footerbar-image {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footerbar-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footerbar-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footerbar-text {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .footerbar-footer {
    padding: var(--dl-space-space-unit);
  }
  .footerbar-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footerbar-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footerbar-text {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}

.joining-container {
  width: 100%;
  display: flex;
  overflow: inherit;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.joining-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  margin-top: 100px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.joining-about {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.joining-text {
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Arial";
  margin-bottom: var(--dl-space-space-unit);
}
.joining-text01 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.joining-about1 {
  padding-top: 0px;
  background-color: #ffffff;
}
.joining-max-width {
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.joining-text03 {
  color: var(--dl-color-scheme-black80);
  align-self: flex-start;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.joining-max-width1 {
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.joining-text07 {
  color: var(--dl-color-scheme-black80);
  align-self: flex-start;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.joining-steps {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.joining-text14 {
  color: var(--dl-color-gray-black);
  font-size: 3rem;
}
.joining-text17 {
  color: var(--dl-color-gray-700);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.joining-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.joining-step {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.joining-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.joining-line {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.joining-container04 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.joining-icon {
  fill: #595959;
  width: 24px;
  height: 24px;
}
.joining-line01 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: #D9D9D9;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.joining-container05 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.joining-text20 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.joining-text21 {
  color: rgb(89, 89, 89);
  font-size: 0.75rem;
  text-align: center;
}
.joining-step1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.joining-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.joining-line02 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: #D9D9D9;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.joining-container07 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.joining-icon02 {
  fill: #595959;
  width: 24px;
  height: 24px;
}
.joining-line03 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: #D9D9D9;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.joining-container08 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.joining-text24 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.joining-text25 {
  color: rgb(89, 89, 89);
  font-size: 0.75rem;
  text-align: center;
}
.joining-step2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.joining-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.joining-line04 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: #D9D9D9;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.joining-container10 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.joining-icon04 {
  fill: #595959;
  width: 24px;
  height: 24px;
}
.joining-line05 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: #D9D9D9;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.joining-container11 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.joining-text28 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.joining-text29 {
  color: rgb(89, 89, 89);
  font-size: 0.75rem;
  text-align: center;
}
.joining-step3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.joining-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.joining-line06 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: #D9D9D9;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.joining-container13 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.joining-icon07 {
  fill: #595959;
  width: 24px;
  height: 24px;
}
.joining-line07 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.joining-container14 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.joining-text32 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.joining-text35 {
  color: rgb(89, 89, 89);
  font-size: 0.75rem;
  text-align: center;
}
.joining-steps1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.joining-text38 {
  color: var(--dl-color-gray-black);
  font-size: 3rem;
}
.joining-text41 {
  color: var(--dl-color-gray-700);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.joining-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.joining-step4 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.joining-container16 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.joining-line08 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.joining-container17 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.joining-icon09 {
  fill: #595959;
  width: 24px;
  height: 24px;
}
.joining-line09 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: #D9D9D9;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.joining-container18 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.joining-text44 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.joining-text46 {
  color: #595959;
  font-size: 0.75rem;
  text-align: center;
}
.joining-step5 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.joining-container19 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.joining-line10 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: #D9D9D9;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.joining-container20 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.joining-icon11 {
  fill: #595959;
  width: 24px;
  height: 24px;
}
.joining-line11 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: #D9D9D9;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.joining-container21 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.joining-text49 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.joining-text51 {
  color: #595959;
  font-size: 0.75rem;
  text-align: center;
}
.joining-step6 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.joining-container22 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.joining-line12 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: #D9D9D9;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.joining-container23 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.joining-icon13 {
  fill: #595959;
  width: 24px;
  height: 24px;
}
.joining-line13 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: #D9D9D9;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.joining-container24 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.joining-text54 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.joining-text56 {
  color: #595959;
  font-size: 0.75rem;
  text-align: center;
}
.joining-step7 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.joining-container25 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.joining-line14 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: #D9D9D9;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.joining-container26 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.joining-icon16 {
  fill: #595959;
  width: 24px;
  height: 24px;
}
.joining-line15 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.joining-container27 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.joining-text59 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.joining-text61 {
  color: #595959;
  font-size: 0.75rem;
  text-align: center;
}
@media(max-width: 1600px) {
  .joining-text {
    font-family: Arial;
  }
  .joining-text03 {
    color: var(--dl-color-scheme-black80);
    margin-bottom: 0px;
  }
  .joining-text07 {
    color: var(--dl-color-scheme-black80);
    margin-bottom: 0px;
  }
  .joining-text14 {
    color: var(--dl-color-gray-black);
    font-size: 3rem;
  }
  .joining-text38 {
    color: var(--dl-color-gray-black);
  }
}
@media(max-width: 1200px) {
  .joining-text {
    font-family: Arial;
  }
  .joining-text01 {
    font-family: Arial;
  }
  .joining-text03 {
    color: var(--dl-color-scheme-black80);
    line-height: 26px;
  }
  .joining-text07 {
    color: var(--dl-color-scheme-black80);
    line-height: 26px;
  }
}
@media(max-width: 991px) {
  .joining-about {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .joining-max-width {
    flex-direction: column;
  }
  .joining-max-width1 {
    flex-direction: column;
  }
  .joining-text14 {
    text-align: center;
  }
  .joining-text17 {
    text-align: center;
  }
  .joining-text38 {
    text-align: center;
  }
  .joining-text41 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .joining-text {
    font-size: 48px;
  }
  .joining-text01 {
    font-size: 48px;
  }
  .joining-steps {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .joining-container02 {
    align-items: flex-start;
    padding-left: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .joining-step {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .joining-container03 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .joining-line01 {
    border-color: #D9D9D9;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .joining-container05 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .joining-text20 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .joining-text21 {
    text-align: left;
  }
  .joining-step1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .joining-container06 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .joining-line02 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .joining-line03 {
    border-color: #D9D9D9;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .joining-container08 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .joining-text24 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .joining-text25 {
    text-align: left;
  }
  .joining-step2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .joining-container09 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .joining-line04 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .joining-line05 {
    border-color: #D9D9D9;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .joining-container11 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .joining-text28 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .joining-text29 {
    text-align: left;
  }
  .joining-step3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .joining-container12 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .joining-line06 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .joining-line07 {
    border-color: transparent;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .joining-container14 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .joining-text32 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .joining-text35 {
    text-align: left;
  }
  .joining-steps1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .joining-container15 {
    align-items: flex-start;
    padding-left: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .joining-step4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .joining-container16 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .joining-line09 {
    border-color: #D9D9D9;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .joining-container18 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .joining-text44 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .joining-text46 {
    text-align: left;
  }
  .joining-step5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .joining-container19 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .joining-line10 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .joining-line11 {
    border-color: #D9D9D9;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .joining-container21 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .joining-text49 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .joining-text51 {
    text-align: left;
  }
  .joining-step6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .joining-container22 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .joining-line12 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .joining-line13 {
    border-color: #D9D9D9;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .joining-container24 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .joining-text54 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .joining-text56 {
    text-align: left;
  }
  .joining-step7 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .joining-container25 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .joining-line14 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .joining-line15 {
    border-color: transparent;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .joining-container27 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .joining-text59 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .joining-text61 {
    text-align: left;
  }
}
@media(max-width: 479px) {
  .joining-steps {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .joining-container02 {
    padding-left: 0px;
  }
  .joining-container05 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .joining-text20 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .joining-container08 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .joining-text24 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .joining-container11 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .joining-text28 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .joining-container14 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .joining-text32 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .joining-steps1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .joining-container15 {
    padding-left: 0px;
  }
  .joining-container18 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .joining-text44 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .joining-container21 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .joining-text49 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .joining-container24 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .joining-text54 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .joining-container27 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .joining-text59 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
}
