.footerbar-container {
  width: 100%;
  bottom: 0;
  height: auto;
  display: flex;
  z-index: 100;
  position: relative;
  align-self: center;
  align-items: center;
  justify-content: center;
  background-color: #dfdfdf;
}
.footerbar-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.footerbar-container1 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.footerbar-navlink {
  display: contents;
}
.footerbar-image {
  width: 132px;
  height: 35px;
  margin-bottom: 0px;
  text-decoration: none;
}
.footerbar-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footerbar-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footerbar-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.footerbar-icon {
  width: 35px;
  height: 35px;
  margin-right: var(--dl-space-space-halfunit);
}
.footerbar-text {
  font-size: 18px;
  align-self: center;
}
.footerbar-icon-group {
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footerbar-link {
  display: contents;
}
.footerbar-icon2 {
  width: 35px;
  height: 35px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footerbar-link1 {
  display: contents;
}
.footerbar-image1 {
  width: 35px;
  height: 35px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footerbar-link2 {
  display: contents;
}
.footerbar-image2 {
  width: 35px;
  height: 35px;
  margin-right: 0px;
  text-decoration: none;
}


















@media(max-width: 767px) {
  .footerbar-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footerbar-image {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footerbar-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footerbar-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footerbar-text {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .footerbar-footer {
    padding: var(--dl-space-space-unit);
  }
  .footerbar-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footerbar-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footerbar-text {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
