.guides-guides {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-about {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-about1 {
  padding-top: 0px;
  background-color: #ffffff;
}
.guides-max-width {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.guides-commands {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-max-width1 {
  padding: var(--dl-space-space-oneandhalfunits);
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-end;
}
.guides-heading-container {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-text {
  align-self: flex-start;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: "Arial";
  margin-bottom: var(--dl-space-space-halfunit);
}
.guides-text-container {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: column;
}
.guides-text001 {
  color: var(--dl-color-scheme-black80);
  text-align: left;
  line-height: 26px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
}
.guides-commands1 {
  padding: var(--dl-space-space-oneandhalfunits);
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-end;
}
.guides-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.guides-heading-container1 {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-text002 {
  color: #000000;
  align-self: center;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.guides-heading-container2 {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-text003 {
  color: #000000;
  align-self: center;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.guides-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.guides-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.guides-text-container1 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.guides-text004 {
  font-style: normal;
  font-weight: 500;
}
.guides-text005 {
  font-weight: 700;
}
.guides-text010 {
  font-weight: 700;
}
.guides-text015 {
  font-weight: 700;
}
.guides-text020 {
  font-weight: 700;
}
.guides-text025 {
  font-weight: 700;
}
.guides-text030 {
  font-weight: 700;
}
.guides-text035 {
  font-weight: 700;
}
.guides-text040 {
  font-weight: 700;
}
.guides-text041 {
  font-weight: 700;
}
.guides-text042 {
  font-weight: 700;
}
.guides-text043 {
  font-weight: 700;
}
.guides-text044 {
  font-weight: 700;
}
.guides-text049 {
  font-weight: 700;
}
.guides-text054 {
  font-weight: 700;
}
.guides-text059 {
  color: #0052ff;
  font-weight: 700;
}
.guides-text063 {
  color: #9b00ff;
  font-weight: 700;
}
.guides-text067 {
  color: #e400ff;
  font-weight: 700;
}
.guides-text071 {
  font-weight: 700;
}
.guides-text-container2 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
  flex-direction: column;
}
.guides-text075 {
  font-style: normal;
  font-weight: 500;
}
.guides-text076 {
  font-weight: 700;
}
.guides-text081 {
  font-weight: 700;
}
.guides-text086 {
  font-weight: 700;
}
.guides-text091 {
  font-weight: 700;
}
.guides-text096 {
  font-weight: 700;
}
.guides-text101 {
  font-weight: 700;
}
.guides-text106 {
  font-weight: 700;
}
.guides-text111 {
  font-weight: 700;
}
.guides-text116 {
  font-weight: 700;
}
.guides-text121 {
  font-weight: 700;
}
.guides-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
}
.guides-heading-container3 {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-text126 {
  color: #000000;
  align-self: center;
  padding-bottom: 0px;
}
.guides-heading-container4 {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-text127 {
  color: #000000;
  align-self: center;
  padding-bottom: 0px;
}
.guides-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.guides-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.guides-text-container3 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: column;
}
.guides-text128 {
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-weight: 500;
}
.guides-text129 {
  font-weight: 700;
}
.guides-text134 {
  font-weight: 700;
}
.guides-text135 {
  font-weight: 700;
}
.guides-text136 {
  font-weight: 700;
}
.guides-text141 {
  font-weight: 700;
}
.guides-text146 {
  font-weight: 700;
}
.guides-text147 {
  font-weight: 700;
}
.guides-text148 {
  font-weight: 700;
}
.guides-text-container4 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: column;
}
.guides-text152 {
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
}
.guides-text153 {
  font-weight: 700;
}
.guides-text158 {
  font-weight: 700;
}
.guides-text160 {
  font-weight: 700;
}
.guides-text165 {
  font-weight: 700;
}
.guides-text166 {
  font-weight: 700;
}
.guides-text167 {
  font-weight: 700;
}
.guides-economy-guide {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-max-width2 {
  padding: var(--dl-space-space-oneandhalfunits);
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-end;
}
.guides-heading-container5 {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-text171 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Arial";
  margin-bottom: var(--dl-space-space-unit);
}
.guides-text172 {
  color: var(--dl-color-scheme-black80);
  align-self: flex-start;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.guides-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.guides-slider {
  width: 1000px;
  height: 570px;
  display: inline-block;
}
.guides-slider-slide {
  display: flex;
  background-size: 100%;
  background-image: url('https://prismplex.net/assets/ecoguide/1.png');
}
.guides-slider-slide1 {
  display: flex;
  background-size: 100%;
  background-image: url('https://prismplex.net/assets/ecoguide/2.png');
}
.guides-slider-slide2 {
  display: flex;
  background-size: 100%;
  background-image: url('https://prismplex.net/assets/ecoguide/3.png');
}
.guides-slider-slide3 {
  display: flex ;
  background-size: 100%;
  background-image: url('https://prismplex.net/assets/ecoguide/4.png');
}
.guides-slider-slide4 {
  display: flex ;
  background-size: 100%;
  background-image: url('https://prismplex.net/assets/ecoguide/5.png');
}
.guides-slider-slide5 {
  display: flex ;
  background-size: 100%;
  background-image: url('https://prismplex.net/assets/ecoguide/6.png');
}
.guides-slider-pagination {
  display: block;
}
@media(max-width: 1600px) {
  .guides-max-width1 {
    margin-top: 0px;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .guides-heading-container {
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .guides-text {
    font-family: Arial;
  }
  .guides-text-container {
    margin-bottom: var(--dl-space-space-unit);
  }
  .guides-text001 {
    color: var(--dl-color-scheme-black80);
    align-self: flex-start;
    text-align: left;
    line-height: 26px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .guides-commands1 {
    margin-top: 0px;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 0px;
  }
  .guides-container {
    width: 100%;
    margin-bottom: var(--dl-space-space-unit);
  }
  .guides-heading-container1 {
    padding-bottom: 0px;
  }
  .guides-text002 {
    color: rgb(0, 0, 0);
    padding-bottom: 0px;
  }
  .guides-heading-container2 {
    align-items: center;
    flex-direction: row;
    padding-bottom: 0px;
    justify-content: center;
  }
  .guides-text003 {
    color: rgb(0, 0, 0);
    align-self: center;
    padding-bottom: 0px;
  }
  .guides-container1 {
    height: auto;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
    justify-content: flex-start;
  }
  .guides-text-container1 {
    width: 50%;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
    justify-content: space-between;
  }
  .guides-text004 {
    width: auto;
    align-self: flex-start;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    padding-right: 5px;
  }
  .guides-text005 {
    font-weight: 700;
  }
  .guides-text010 {
    font-weight: 700;
  }
  .guides-text015 {
    font-weight: 700;
  }
  .guides-text020 {
    font-weight: 700;
  }
  .guides-text025 {
    font-weight: 700;
  }
  .guides-text030 {
    font-weight: 700;
  }
  .guides-text035 {
    font-weight: 700;
  }
  .guides-text040 {
    font-weight: 700;
  }
  .guides-text041 {
    font-weight: 700;
  }
  .guides-text042 {
    font-weight: 700;
  }
  .guides-text043 {
    font-weight: 700;
  }
  .guides-text044 {
    font-weight: 700;
  }
  .guides-text049 {
    font-weight: 700;
  }
  .guides-text054 {
    font-weight: 700;
  }
  .guides-text071 {
    font-weight: 700;
  }
  .guides-text-container2 {
    width: 50%;
    margin-bottom: var(--dl-space-space-unit);
  }
  .guides-text075 {
    width: auto;
    align-self: flex-start;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    padding-left: 5px;
  }
  .guides-text076 {
    font-weight: bold;
  }
  .guides-text078 {
    font-weight: 500;
  }
  .guides-text079 {
    font-weight: 500;
  }
  .guides-text080 {
    font-weight: 500;
  }
  .guides-text081 {
    font-weight: 700;
  }
  .guides-text082 {
    font-weight: 500;
  }
  .guides-text083 {
    font-weight: 500;
  }
  .guides-text084 {
    font-weight: 500;
  }
  .guides-text085 {
    font-weight: 500;
  }
  .guides-text086 {
    font-weight: 700;
  }
  .guides-text089 {
    font-weight: 500;
  }
  .guides-text090 {
    font-weight: 500;
  }
  .guides-text091 {
    font-weight: 700;
  }
  .guides-text092 {
    font-weight: 500;
  }
  .guides-text093 {
    font-weight: 500;
  }
  .guides-text094 {
    font-weight: 500;
  }
  .guides-text095 {
    font-weight: 500;
  }
  .guides-text096 {
    font-weight: 700;
  }
  .guides-text097 {
    font-weight: 500;
  }
  .guides-text098 {
    font-weight: 500;
  }
  .guides-text099 {
    font-weight: 500;
  }
  .guides-text100 {
    font-weight: 500;
  }
  .guides-text101 {
    font-weight: 700;
  }
  .guides-text102 {
    font-weight: 500;
  }
  .guides-text103 {
    font-weight: 500;
  }
  .guides-text104 {
    font-weight: 500;
  }
  .guides-text105 {
    font-weight: 500;
  }
  .guides-text106 {
    font-weight: 700;
  }
  .guides-text107 {
    font-weight: 500;
  }
  .guides-text108 {
    font-weight: 500;
  }
  .guides-text109 {
    font-weight: 500;
  }
  .guides-text110 {
    font-weight: 500;
  }
  .guides-text111 {
    font-weight: 700;
  }
  .guides-text112 {
    font-weight: 500;
  }
  .guides-text113 {
    font-weight: 500;
  }
  .guides-text114 {
    font-weight: 500;
  }
  .guides-text115 {
    font-weight: 500;
  }
  .guides-text116 {
    font-weight: 700;
  }
  .guides-text117 {
    font-weight: 500;
  }
  .guides-text118 {
    font-weight: 500;
  }
  .guides-text119 {
    font-weight: 500;
  }
  .guides-text120 {
    font-weight: 500;
  }
  .guides-text121 {
    font-weight: 500;
  }
  .guides-text122 {
    font-weight: 500;
  }
  .guides-text123 {
    font-weight: 500;
  }
  .guides-text124 {
    font-weight: 500;
  }
  .guides-text125 {
    font-weight: 500;
  }
  .guides-container3 {
    width: 100%;
    margin-bottom: var(--dl-space-space-unit);
  }
  .guides-heading-container3 {
    padding-bottom: 0px;
  }
  .guides-text126 {
    color: rgb(0, 0, 0);
    padding-bottom: 0px;
  }
  .guides-heading-container4 {
    align-items: center;
    flex-direction: row;
    padding-bottom: 0px;
    justify-content: center;
  }
  .guides-text127 {
    color: rgb(0, 0, 0);
    align-self: center;
    padding-bottom: 0px;
  }
  .guides-container4 {
    height: auto;
    align-items: flex-start;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .guides-text-container3 {
    width: 50%;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
    justify-content: space-between;
  }
  .guides-text128 {
    width: auto;
    align-self: flex-start;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    padding-right: 5px;
  }
  .guides-text129 {
    font-weight: 700;
  }
  .guides-text132 {
    font-weight: 700;
  }
  .guides-text133 {
    font-weight: 700;
  }
  .guides-text134 {
    font-weight: 700;
  }
  .guides-text135 {
    font-weight: 700;
  }
  .guides-text136 {
    font-weight: 700;
  }
  .guides-text141 {
    font-weight: 700;
  }
  .guides-text-container4 {
    width: 50%;
    margin-bottom: var(--dl-space-space-unit);
  }
  .guides-text152 {
    width: auto;
    align-self: flex-start;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    padding-left: 5px;
  }
  .guides-text153 {
    font-weight: bold;
  }
  .guides-text155 {
    font-weight: 500;
  }
  .guides-text156 {
    font-weight: 500;
  }
  .guides-text157 {
    font-weight: 500;
  }
  .guides-text158 {
    font-weight: 700;
  }
  .guides-text159 {
    font-weight: 500;
  }
  .guides-text160 {
    font-weight: 500;
  }
  .guides-text161 {
    font-weight: 500;
  }
  .guides-text162 {
    font-weight: 500;
  }
  .guides-text163 {
    font-weight: 500;
  }
  .guides-text164 {
    font-weight: 500;
  }
  .guides-text165 {
    font-weight: 700;
  }
  .guides-text166 {
    font-weight: 500;
  }
  .guides-text167 {
    font-weight: 700;
  }
  .guides-text168 {
    font-weight: 500;
  }
  .guides-text169 {
    font-weight: 500;
  }
  .guides-text170 {
    font-weight: 500;
  }
  .guides-max-width2 {
    margin-top: 0px;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .guides-heading-container5 {
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .guides-text171 {
    font-family: Arial;
  }
  .guides-text172 {
    color: var(--dl-color-scheme-black80);
    line-height: 26px;
  }
  .guides-slider {
    width: 938px;
    height: 568px;
  }
}
@media(max-width: 1200px) {
  .guides-text {
    margin-top: var(--dl-space-space-twounits);
    font-family: Arial;
  }
  .guides-text001 {
    color: var(--dl-color-scheme-black80);
  }
  .guides-text002 {
    color: #000000;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .guides-text003 {
    color: #000000;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .guides-text126 {
    color: #000000;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .guides-text127 {
    color: #000000;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .guides-text171 {
    font-family: Arial;
  }
  .guides-text172 {
    color: var(--dl-color-scheme-black80);
    line-height: 26px;
  }
  .guides-slider {
    width: 754px;
    height: 456px;
  }
}
@media(max-width: 991px) {
  .guides-about {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .guides-max-width {
    flex-direction: column;
  }
  .guides-max-width1 {
    flex-direction: column;
  }
  .guides-heading-container {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .guides-commands1 {
    flex-direction: column;
  }
  .guides-heading-container1 {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .guides-heading-container2 {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .guides-heading-container3 {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .guides-heading-container4 {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .guides-max-width2 {
    flex-direction: column;
  }
  .guides-heading-container5 {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .guides-slider {
    width: 601px;
    height: 363px;
  }
}
@media(max-width: 767px) {
  .guides-text {
    font-size: 48px;
  }
  .guides-text171 {
    font-size: 48px;
  }
  .guides-slider {
    width: 447px;
    height: 269px;
  }
}
@media(max-width: 479px) {
  .guides-slider {
    width: 252px;
    height: 151px;
  }
}
